#map_contacts {
    width: 100%;
    height: 510px;
}

.contacts_data {
    padding: 40px 0 20px;
    background-color: #f5f5f5;
    color: #002b4e;

    &__title {

        h2 {
            margin: 0 0 40px 0;
            font-weight: bold;
            font-style: 24px;
        }
    }

    &_item {
        position: relative;
        padding-left: 72px;
        padding-bottom: 20px;

        &:before {
            content: '';
            display: inline-block;

            position: absolute;
            top: 0;
            left: 0;

            width: 50px;
            height: 50px;

            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
        }

        &__address {
            &:before {
                background-image: url(../../img/icons/location.png);
            }
        }

        &__time {
            &:before {
                background-image: url(../../img/icons/time-left.png);
            }
        }

        &__phone {
            &:before {
                background-image: url(../../img/icons/smartphone.png);
            }
        }

        h5 {
            margin: 0 0 20px 0;
            font-weight: bold;
            font-size: 18px;
        }

        div {
            font-size: 13px;
        }
    }

    &__instagram {

        a {

            @media(min-width: 300px) {
                text-align: left;
            }

            @media(min-width: 1200px) {
                text-align: center;
            }

            display: block;
            color: inherit;

            img {
                display: inline-block;
                margin-bottom: 8px;
            }

            span {
                display: block
            }
        }
    }
}

.contacts_bottom {
    margin-top: 30px;
    margin-bottom: 30px;

    &_email {
        position: relative;
        margin-top: 20px;
        margin-bottom: 20px;
        color: #002b4e;

        &__inner {
            background-color: #f5f5f5;

            &__img {
                img {
                    width: 100%;
                }
            }

            &__text {
                padding: 20px 30px 30px;

                h5 {
                    font-size: 24px;
                    font-weight: bold;
                }

                .description {
                    display: block;
                    margin-bottom: 30px;
                }

                .purpose {
                    display: inline-block;
                    margin-right: 15px;
                    font-weight: bold;
                    cursor: default;
                }

                a {
                    display: inline-block;
                    color: inherit;
                    margin-bottom: 10px;
                }
            }
        }
    }

    &_feedback {
        margin-top: 20px;
        margin-bottom: 20px;
        text-align: center;

        h5 {
            margin-bottom: 30px;
            font-weight: bold;
            font-size: 24px;
        }

        form {

            .input {

                input {
                    -webkit-appearance: none;

                    width: 100%;

                    margin-bottom: 20px;
                    padding: 14px 10px;

                    border: 1px solid #e6e6e6;
                    background: white;

                    outline: none;

                    &::-webkit-input-placeholder {
                        color: #002b4d;
                    }
                    &::-moz-placeholder {
                        color: #002b4d;
                    }
                    &:-ms-input-placeholder {
                        color: #002b4d;
                    }
                    &:-moz-placeholder {
                        color: #002b4d;
                    }
                }

                textarea {
                    -webkit-appearance: none;

                    width: 100%;
                    height: 130px;

                    margin-bottom: 20px;
                    padding: 14px 10px;

                    border: 1px solid #e6e6e6;
                    background: white;

                    outline: none;
                    resize: none;

                    &::-webkit-input-placeholder {
                        color: #002b4d;
                    }
                    &::-moz-placeholder {
                        color: #002b4d;
                    }
                    &:-ms-input-placeholder {
                        color: #002b4d;
                    }
                    &:-moz-placeholder {
                        color: #002b4d;
                    }
                }
            }

            input[type="submit"] {
                -webkit-appearance: none;

                display: inline-block;

                margin-bottom: 4px;
                padding: 15px 40px;

                border: none;
                border-radius: 0px;
                background-color: #07ba00;
                color: white;
                text-transform: uppercase;
                outline: none;
            }
        }
    }
}