.receipts {
    margin-bottom: 100px;

    &__item {
        position: relative;
        background-position: center center;
        background-size: cover;

        &:hover {
            &:after {
                content: '';
                display: block;

                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;

                background-color: rgba(0, 43, 78, 0.75);
            }

            a {
                color: white;
                transform: translateY(-20px);
            }
        }

        &:nth-child(odd) {
            a {
                float: right;
            }
        }

        &:nth-child(even) {
            a {
                float: left;
            }
        }

        a {
            position: relative;
            padding: 120px 0;
            color: #002b4e;
            text-align: center;

            z-index: 10;

            transition-duration: 0.2s;

            .bold {
                display: block;
                font-weight: bold;
                font-size: 24px;
            }

            .title {
                display: block;
            }
        }
    }
}