.chosen {
    background-color: #f4f5f0;
    overflow: hidden;
    background-image: url(../../img/bg/hypothec.png);
    background-position: center bottom;
    background-size: auto 100%;
}

@media (max-width: 991px) {
    .chosen {
        background: #f4f5f0;
    }
}

.chosen__wrap {
    position: relative;
    padding: 65px 0 95px;
}

.chosen__h2 {
    margin-bottom: 55px;
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
}

.chosen__list {
    margin: 0;
    padding-left: 56px;
}

.chosen__list__elem {
    position: relative;
    margin-bottom: 30px;
    list-style: none;
    font-size: 16px;
    font-weight: 400;
}

.chosen__list__elem:before {
    position: absolute;
    left: -56px;
    top: 0;
    content: '';
    display: inline-block;
    width: 31px;
    height: 20px;
    background-image: url(../../img/icons/chosen-list.png);
    background-repeat: no-repeat;
    background-position: center;
}

.calculator {
    padding: 90px 0 100px;
    font-family: 'ProximaNova';
}

.calculator__wrap .calculator__h2 {
    text-align: center;
    font-size: 40px;
}

.calculator__wrap .form_wrapper {
    margin: 60px 0;
}

.calculator__wrap .form_wrapper__inner {
    padding-right: 30px;
}

@media (max-width: 991px) {
    .calculator__wrap .form_wrapper__inner {
        padding-right: 0;
    }
}

.calculator__wrap .form_wrapper__inner form {
    padding-top: 40px;
    padding-bottom: 20px;
    background-color: #f3f3f3;
    border: 4px solid #07ba00;
}

.calculator__wrap .form_wrapper__inner form .input {
    position: relative;
    padding-top: 50px;
    padding-bottom: 10px;
}

.calculator__wrap .form_wrapper__inner form .input .table {
    display: table;
    position: absolute;
    top: 0;
    height: 40px;
    margin: 0;
}

.calculator__wrap .form_wrapper__inner form .input .table .cell {
    display: table-cell;
    vertical-align: bottom;
}

.calculator__wrap .form_wrapper__inner form .input .table .cell label {
    margin: 0;
}

.calculator__wrap .form_wrapper__inner form .input select {
    -webkit-appearance: none;
    display: block;
    width: 100%;
    float: left;
    padding: 16px 10px;
    border: none;
    border-radius: 0px;
    background-color: #fff;
    background-image: url(../../img/icons/form-select.png);
    background-position: right 10px center;
    background-repeat: no-repeat;
    outline: none;
}

.calculator__wrap .form_wrapper__inner form .confirmation {
    margin-top: 30px;
    padding-top: 10px;
    padding-bottom: 20px;
}

.calculator__wrap .form_wrapper__inner form .confirmation h5 {
    margin: 0 0 13px 0;
    color: #002b4e;
    font-size: 16px;
}

.calculator__wrap .form_wrapper__inner form .confirmation .checkbox_wrapper {
    position: relative;
    float: left;
    margin-right: 35px;
}

.calculator__wrap .form_wrapper__inner form .confirmation .checkbox_wrapper:last-child {
    margin-right: 0;
}

.calculator__wrap .form_wrapper__inner form .confirmation .checkbox_wrapper input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    margin: 0;
    z-index: 10;
    cursor: pointer;
}

.calculator__wrap .form_wrapper__inner form .confirmation .checkbox_wrapper input + label {
    display: inline-block;
    position: relative;
    font-weight: normal;
    color: #8b8a9a;
    margin: 0;
    padding: 5px 0 5px 30px;
}

.calculator__wrap .form_wrapper__inner form .confirmation .checkbox_wrapper input + label:before {
    content: '';
    display: inline-block;
    position: absolute;
    top: 3px;
    left: 0;
    width: 24px;
    height: 24px;
    margin-right: 10px;
    background: white;
    border: 1px solid #e6e6e6;
    border-radius: 2px;
    vertical-align: text-top;
}

.calculator__wrap .form_wrapper__inner form .confirmation .checkbox_wrapper input:focus + label:before {
    -webkit-box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
}

.calculator__wrap .form_wrapper__inner form .confirmation .checkbox_wrapper input:checked + label:after {
    content: '\2713';
    position: absolute;
    left: 0;
    top: 3px;
    background: #07ba00;
    border-radius: 2px;
    color: white;
    text-align: center;
    line-height: 1.8;
    width: 24px;
    height: 24px;
}

.calculator__wrap .form_wrapper__inner form .submit {
    -webkit-appearance: none;
    display: block;
    width: 100%;
    float: left;
    font-weight: 'OpenSans';
    margin: 35px 0 25px;
    padding: 20px 0;
    background: #2f87c2;
    border: none;
    color: white;
    text-transform: uppercase;
}

.calculator__wrap .callback {
    margin: 60px 0 0 0;
    padding-top: 69px;
    padding-bottom: 40px;
    background-color: #f3f3f3;
    border-top: 4px solid #07ba00;
    text-align: center;
    cursor: default;
}

.calculator__wrap .callback .avatar {
    display: inline-block;
    position: relative;
    width: 124px;
    height: 124px;
    margin-bottom: 20px;
    background-image: url(../../img/ipothec-ava.jpg);
    background-position: center center;
    background-size: cover;
    border-radius: 50%;
    border: 3px solid white;
}

.calculator__wrap .callback .avatar:before {
    content: '';
    display: inline-block;
    position: absolute;
    top: -10px;
    bottom: -10px;
    left: -10px;
    right: -10px;
    border: 3px solid white;
    border-radius: 50%;
}

.calculator__wrap .callback .avatar:after {
    content: '';
    display: inline-block;
    position: absolute;
    top: -18px;
    bottom: -18px;
    left: -18px;
    right: -18px;
    border: 3px solid white;
    border-radius: 50%;
}

.calculator__wrap .callback h5 {
    font-size: 21px;
    font-weight: bold;
    color: #002b4e;
    margin: 0 0 5px 0;
}

.calculator__wrap .callback span {
    display: block;
    font-weight: 300;
}

.calculator__wrap .callback a {
    display: block;
    font-weight: bold;
    font-size: 18px;
    color: #002b4e;
    padding: 5px 0;
    margin: 6px 0;
    cursor: pointer;
}

.calculator__wrap .callback label {
    display: block;
    font-weight: 300;
    font-style: 13px;
    color: #333333;
    margin-bottom: 10px;
}

.calculator__wrap .callback input {
    -webkit-appearance: none;
    display: block;
    width: 100%;
    float: left;
    margin-bottom: 20px;
    padding: 16px 10px;
    border: none;
    border-radius: 0px;
    background-color: #fff;
    outline: none;
}

.calculator__wrap .callback input::-webkit-input-placeholder {
    text-align: center;
}

.calculator__wrap .callback input:-moz-placeholder {
    text-align: center;
}

.calculator__wrap .callback input::-moz-placeholder {
    text-align: center;
}

.calculator__wrap .callback input:-ms-input-placeholder {
    text-align: center;
}

.calculator__wrap .callback button {
    -webkit-appearance: none;
    display: block;
    width: 100%;
    float: left;
    margin-bottom: 4px;
    padding: 20px 10px;
    border: none;
    border-radius: 0px;
    background-color: #07ba00;
    color: white;
    outline: none;
}

@media (max-width: 991px) {
    .calculator__wrap .result {
        padding: 0 15px;
        background-color: #f3f3f3;
    }
    .calculator__wrap .result table {
        border: none;
        border-collapse: collapse;
        margin: 0;
        padding: 0;
        width: 100%;
        table-layout: fixed;
    }
    .calculator__wrap .result table thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }
    .calculator__wrap .result table tr {
        border-bottom: 3px solid #ddd;
        display: block;
        margin-bottom: .625em;
    }
    .calculator__wrap .result table td {
        border-bottom: 1px solid #ddd;
        display: block;
        font-size: .8em;
        text-align: right;
    }
    .calculator__wrap .result table td:first-child:before {
        content: '';
        display: none;
    }
    .calculator__wrap .result table td:first-child {
        text-align: left;
    }
    .calculator__wrap .result table td:before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
    }
    .calculator__wrap .result table td:last-child {
        border-bottom: 0;
    }
    .calculator__wrap .result table tr {
        border: 1px solid #ddd;
        padding: .35em;
        background-color: white;
    }
    .calculator__wrap .result table th,
    .calculator__wrap .result table td {
        padding: .625em;
    }
    .calculator__wrap .result table th {
        font-size: .85em;
        letter-spacing: .1em;
        text-transform: uppercase;
    }
}

.calculator__wrap .result table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
    table-layout: fixed;
}

.calculator__wrap .result table thead {
    background-color: #f3f3f3;
}

.calculator__wrap .result table thead tr {
    height: 84px;
}

.calculator__wrap .result table tbody td {
    padding: 24px 0;
    background-color: #fff;
}

.calculator__wrap .result table tr {
    border: 1px solid #ddd;
    padding: .35em;
}

.calculator__wrap .result table th,
.calculator__wrap .result table td {
    padding: .625em;
}

.calculator__wrap .result table th {
    font-size: .85em;
    letter-spacing: .1em;
    text-align: inherit;
}

.we-offer {
    padding: 0 0 80px;
    font-family: 'ProximaNova';
}

.we-offer__title {
    text-align: center;
    font-size: 35px;
    color: #002b4e;
    text-transform: uppercase;
}

.we-offer__title_sub {
    margin-bottom: 90px;
    text-align: center;
    font-size: 36px;
    color: #002b4e;
}

.we-offer__item {
    padding: 0 30px 30px 128px;
}
.we-offer__icon {
    position: absolute;
    left: 0;
    top: -30px;
}

/*.we-offer__item:before {*/
    /*display: block;*/
    /*position: absolute;*/
    /*left: 0;*/
    /*font-size: 98px;*/
    /*line-height: 78px;*/
    /*font-weight: 100;*/
    /*color: #3389c3;*/
    /*content: '\2713';*/
/*}*/


.tree {
    background-color: #e1e6e7;
    position: relative;
    overflow: hidden;
    background-image: url(../../img/bg/tree_gradient.png);
    background-position: center bottom;
    background-size: cover;
}

.tree:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 50%;
    background-image: url(../../img/bg/tree.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media (max-width: 991px) {
    .tree:after {
        background: transparent;
    }
}

.tree__wrap {
    position: relative;
    padding: 65px 0 95px;
}

.tree__h2 {
    margin-bottom: 55px;
    font-size: 30px;
    font-weight: 600;
}

.tree__list {
    position: relative;
    margin-bottom: 30px;
    list-style: none;
    font-size: 16px;
    font-weight: 400;
}
