.feedback-form, .feedback-input, .feedback-checkbox {
    width: fit-content;
    margin: auto;
}

.feedback-input {
    float: left;
}

.feedback-checkbox {
    position: absolute;
    bottom: -40px;
}

.feedback-input .it-error {
    width: 250px;
}

.vacancy_reply_block {
    background-color: #205179;
    background-size: cover;
    text-align: center;
    padding: 20px;
}

.vacancy_reply_form_input {
    display: inline-block;
    height: 43px;
    line-height: 43px;
    border: 1px solid #ffffff;
    margin: 0 auto 15px;
    background-color: transparent;
    width: 100%;
    max-width: 350px;
}

.vacancy_reply_form .checkbox {
    max-width: 600px;
    margin: 0 auto;
}

@media (max-width: 992px) {
    .feedback-input {
        float: none;
    }

    .feedback-checkbox {
        position: relative;
        bottom: 0;
    }
}

.element-detail-link {
    display: block;
}

.request__form__button {
    margin: 70px 14px 20px 0;
}

@media (max-width: 1199px) {
    .request__form__button {
        margin: auto;
    }
}

.js-extend-filter-block {
    display: none;
}

a.add-apartment__button {
    display: inline-block;
    background-color: #07ba00;
    color: #ffffff;
    text-decoration: none;
    padding-top: 16px;
    cursor: pointer;
}

a.add-apartment__button:hover {
    background-color: #0b9605;
}

.realtors__carousel {
    display: flex;
    margin-bottom: 10px;
}

.realtors__carousel__item {
    text-align: center;
    width: 20%;
    float: left;
}

.realtors .spoiler {
    display: none;
}

.fancybox-feedback {
    background-color: unset;
}

.fancybox-feedback .call-order-input::-webkit-input-placeholder {
    color: #000000;
    font-size: 16px;
    font-weight: 300;
}

.fancybox-feedback .call-order-input {
    background-color: white;
}

.fancybox-feedback .call-order-title {
    color: #000000;
}

.fancybox-feedback .top-slider-form {
    display: inline-block;
    margin: auto;
    vertical-align: middle;
    background-color: #f3f3f3;
    color: black;
    position: unset;
}

.connect-consultant__form.connect-consultant__form_inline .it-block:not(.checkbox) {
    display: inline-block;
}

.rent-feature__content__title {
    text-transform: uppercase;
}

@media (max-width: 480px) {
    .realtors__carousel {
        display: inline-block;
    }

    .realtors__carousel__item {
        width: auto;
    }

}

.filter-label:after {
    width: 18px;
    height: 18px;
    background: #07ba00;
}

.job h4 {
    position: relative;
    font-size: 18px;
    line-height: 30px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 44px;
}

.job h4::after {
    content: '';
    margin-top: 20px;
    margin-bottom: 24px;
    position: absolute;
    left: 50%;
    margin-left: -18px;
    display: block;
    height: 4px;
    width: 36px;
    background: #fff;
    text-align: center;
}

.job .tx-img {
    overflow: hidden;
    position: relative;
}

.job .tx-img-wrap {
    position: relative;
}

.job .item:hover img.img {
    transform: scale(1.1);
}

.item img.img {
    height: 100%;
    transition-property: all;
    transition-duration: 0.4s;
    transition-timing-function: ease-in-out;
    transition-delay: 0.0s;
}

.job {
    text-align: center;
    color: #fff;
}

.margin30 {
    margin-top: 30px;
    margin-bottom: 30px;
}

.job .item {
    padding: 0;
    margin-bottom: 30px;
}

.job .text {
    position: absolute;
    background: rgba(106, 154, 194, .7);
    padding-top: 0;
    top: 0;
    left: 0px;
    width: 90%;
    height: 90%;
    margin: 5%;
}

.job img {
    width: auto;
    max-height: 100%;
    max-width: none;
}

.job .item .img {
    height: 275px;
}

@media (max-width: 992px) {
    .job img {
        height: auto;
        max-width: 100%;
    }

    .item img.img {
        width: 100%;
    }

    .job .item .img {
        height: auto;
    }
}

.form-admin .filter-price-input {
    max-width: 310px;
    width: 100%;
    color: #002b4e;
    border: 1px solid #002b4e;
    height: 30px;
}

.form-admin input[type="text"]::-webkit-input-placeholder {
    color: #002b4e;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
}

/* webkit */
.form-admin input[type="text"]::-moz-placeholder {
    color: #002b4e;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
}

/* Firefox 19+ */
.form-admin input[type="text"]:-moz-placeholder {
    color: #002b4e;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
}

/* Firefox 18- */
.form-admin input[type="text"]:-ms-input-placeholder {
    color: #002b4e;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
}

/* IE */
.form-admin .filter-label:before {
    border: 1px solid #002b4e;
}

.form-admin .filter-label {
    color: #002b4e;
}

.form-admin .filter-border-color {
    border: 1px solid #002b4e;
}

.form-admin .filter-select-drop {
    background: rgba(0, 43, 78, 0.85);
    border: 1px solid #002b4e;
}

.form-admin .filter-select-drop li {
    color: #fff;
    height: 30px;
    line-height: 30px;
}

.form-admin .filter-select-drop li:hover, .form-objects .filter-select-drop li:hover {
    color: #002b4e;
}

.form-admin .filter-field-title {
    display: inline-flex;
    width: 150px;
    height: 30px;
}

.form-admin .filter-price, .form-admin .filter-select {
    display: inline-flex;
    width: 310px;
}

.form-admin .filter-select, .form-objects .filter-select {
    width: 310px;
    margin-bottom: 20px;
}

.form-admin .filter-select a, .form-objects .filter-select a {
    width: 100%;
    height: 30px;
}

@media (max-width: 1000px) {
    .form-admin .filter-price-input, .form-objects .filter-price-input {
        max-width: 100%;
    }
}

.filter-submit-btn-admin {
    display: block;
    margin: 0;
    height: 35px;
    width: 165px;
    border: 0;
    color: #ffffff;
    font-weight: 600;
    font-size: 18px;
    background-color: #07ba00;
    -webkit-transition: 0.3s background-color linear;
    transition: 0.3s background-color linear;
}

@media (max-width: 767px) {
    .form-admin .contact-info {
        display: flex;
        flex-direction: column;
    }

    .form-admin .filter-submit-btn-admin {
        width: 100%;
    }
}

.btn-reset {
    background-color: #fff;
    color: #002b4e;
    border: 1px solid #002b4e;
    display: inline-block;
    margin: 0;
}

.btn-save {
    display: inline-block;
    margin: 0;
}

.form-admin .filter-submit-btn {
    height: 35px;
}

.form-admin .btn-accept {
    height: 30px;
}

.form-admin .form-title {
    margin-bottom: 30px;
    font-size: 20px;
}

.form-admin .filter-num-rooms.it-block {
    display: inline-flex;
    flex-direction: row;
    min-height: 30px;
    margin-bottom: 20px;
}

.form-admin .field-price {
    line-height: 1;
    align-self: flex-start;
}

.form-admin .field-price .filter-price {
    margin-left: 4px;
}

.form-admin .wrap-field-price {
    display: flex;
}

.form-admin .btn-object {
    width: 205px;
}

.form-admin .filter-select a {
    height: 30px;
    line-height: 30px;
    color: #002b4e;
}

.form-admin .filter-select-link:after {
    margin-top: 14px;
}

.anketa .file-upload.it-block1 .it-error {
    margin-top: 30px;
}

@media (max-width: 992px) {
    .form-admin .filter-price, .form-admin .filter-select {
        width: 600px;
    }

    .form-admin .filter-price-input {
        max-width: 600px;
    }

    .form-admin .col-md-6 {
        display: block;
        text-align: center;
    }

    .form-admin .filter-field-title {
        display: block;
        text-align: center;
        width: 100%;
    }

    .form-admin .wrap-field-price {
        display: block;
    }
}

@media (max-width: 1199px) {
    .form-admin .wrap-field-price {
        display: block;
    }
}

.anketa .filter-field-title {
    display: flex;
    width: 100%;
}

.anketa .file-upload label {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 30px;
    background: #07ba00;
    padding: 5px 4px;
    color: #fff;
    text-align: center;
    margin-bottom: 0px;
}

.anketa .file-upload label:hover {
    background: #0b9605;
}

.anketa .file-upload input[type="file"] {
    display: none;
}

.anketa .file-upload label1 {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.anketa .file-upload span {
    line-height: 20px;
}

.anketa .filter-price, .anketa .filter-select {
    width: 100%;
}

.anketa .filter-price-input, .anketa .filter-select {
    max-width: 100%;
}

.offers-item-img_exclusive::after {
    top: 30px;
    right: -70px;
}

.content-page .flat-on-map {
    padding-top: 5px;
}

.top-slide {
    height: 600px;
    background-size: cover;
}

.card-flat__content__head__title, .new-flats__h2, .card-flat__content__head__price_min,
.card-flat__content__head__price, .phases__h2, .calculator__wrap .calculator__h2, .calculator__wrap .calculator__h2 {
    color: #002b4e;
}

.offers-item-info {
    width: 470px;
}

.link_arrow img {
    width: 10px;
    height: 7px;
    margin-left: 5px;
}

.calculator__wrap .result table th {
    font-family: 'ProximaNova' ! important;
    font-size: 18px ! important;
    letter-spacing: normal ! important;
}

.slider-services__img__between {
    width: 5%;
}

h2.seller_main__h2 {
    color: fff;
}

.it-block {
    display: flex;
    flex-direction: column;
    height: auto;
}

.it-error {
    color: red;
    padding: 0 10px;
}

.calculator__wrap .result {
    margin-top: 60px;
}

.add-bg-on-hover:hover {
    background-color: #f6f6f6;
}

.js-personal-office-form .it-block {
    flex-direction: unset;
}

.item-info_area, .item-info_floor, .item-info_room, .item-info_world {
    width: 25%;
}

.item-info__inner__img_world {
    width: 35px;
    background-image: url(../img/icons/card-flat/area.png);
}

.realtors__carousel__item__wrap {
    text-align: center ! important;
}

.item-info__inner__content {
    display: block;
}

.item-info__inner {
    min-height: 108px;
}

.realtors__carousel__item__img img {
    border-radius: 0;
}

.card-flat__img img {
    max-height: 270px;
    object-fit: cover;
}

.color_002b4e {
    color: #002b4e;
}

.margin_auto {
    margin: auto !important;
}

.subscribe {
    display: inline-flex;
    margin-top: 50px;
}

.subscribe__form {
    text-align: center;
}

.crutch-filter {
    display: none;
    position: absolute;
    top: -9999px;
    left: -9999px;
}

.subscribe_block input[type='submit'] {
    padding-bottom: 2px;
}

.title {
    display: flow-root;
}

.title span {
    text-transform: lowercase;
}

.ext-title {
    color: gray;
    margin-top: 15px;
}

.title .filter-field-title {
    font-weight: bold;
    float: left;
}

.subscription-list {
    margin-bottom: 45px;
    display: inline-block;
}

.subscription-list form {
    margin: 15px 0;
    display: inline-block;
}

.title .filter-field-title {
    font-weight: bold;
    padding: 15px;
}

.settings {
    margin: 15px 0;
}

.settings-popup {
    font-size: 12px;
}

.setting-title-block .title {
    font-weight: bold;
    font-size: 15px;
}
.settings-popup{
    max-width: 650px;
}
.button-block{
    float: right;
}
.button-block .cancel{
    background-color: #a4a4a4;
}
.button-block .cancel:hover{
    background-color: grey;
}
.button-block .delete{
    background-color: #ff0600;
}
.button-block .delete:hover{
    background-color: #e60600;
}
.button-block .green-btn{
    width: auto;
    height: auto;
    display: inline-block;
    margin-top: 20px;
}
.tumbler-block{
    width: 40px;
    display: inline-block;
}
.right-block .del{
    float: right;
    background-image:url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2015%2016%22%3E%3Cpath%20fill-rule%3D%22evenodd%22%20d%3D%22M0%202h15v2H0V2zm4-2h7v2H4V0zM1%204h13v10.998C14%2015.55%2013.553%2016%2013%2016H2c-.553%200-1-.456-1-1.002V4zm3%202h2v7H4V6zm5%200h2v7H9V6z%22%2F%3E%3C%2Fsvg%3E);
    width: 18px;
    height: 18px;
    margin-top: 5px;
    cursor: pointer;
    transition: opacity .3s ease-out;
    opacity: 0.2;
    margin: 25px;
}

.right-block .del:hover{
    opacity: 1;
    background-image:url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2015%2016%22%3E%3Cpath%20fill-rule%3D%22evenodd%22%20fill%3D%22red%22%20d%3D%22M0%202h15v2H0V2zm4-2h7v2H4V0zM1%204h13v10.998C14%2015.55%2013.553%2016%2013%2016H2c-.553%200-1-.456-1-1.002V4zm3%202h2v7H4V6zm5%200h2v7H9V6z%22%2F%3E%3C%2Fsvg%3E);
}
#del-popup{
    padding: 35px;
    display: none;
}
#del-popup .button-block{
    float: none;
    width: 100%;
    text-align: center;
}
.main-page-form .call-order-input, .main-page-form .checkbox{
    color: white;
}
.main-page-form .call-order-input::placeholder{
    color: #a4a4a4;
}
.main-page-form a:hover{
    color: #4cabff;
}
.item-info-name{
    min-height: 25px;
}
.reviews-block{
    text-align: center;
    padding: 15px;
}
#reviews-form textarea{
    height:200px;
    line-height: 25px !important;

}
.offers-item-img{
    max-height: 240px;
}
.personal-hypotec .add-apartment{
    padding: 143px 0;
}
.personal-hypotec .callback.new-rieltor{
    margin: inherit;
    padding-top: 20px;
}
.personal-hypotec.row.new-rieltor{
    margin-bottom: 40px !important;
}