@media (min-width: 1275px) {
    .filter,
    .about {
        background-attachment: fixed;
    }
}

@media (max-width: 1275px) {
    .services {
        margin: 50px auto;
        padding: 0 15px;
    }

    .section-title {
        font-size: 24px;
        margin-bottom: 40px;
    }
    .top-slide__banner {
        padding-left: 13%;
    }
    .top-slide__banner_action {
        padding-left: 5%;
    }
}

@media (max-width: 1100px) {
    .top-slide {
        background-size: cover !important;
    }
}

@media (max-width: 1000px) {
    .top-slider-form {
        display: none;
    }

    .top-slider-mobile-form {
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
    }

    .top-slide__banner {
        width: 70%;
    }

    .call-order {
        text-align: center;
    }

    .header-main-menu {
        position: relative;
    }

    .header-menu {
        display: none;
    }

    .header-menu.opened {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        position: absolute;
        top: 45px;
        background-color: #002b4e;
        padding-bottom: 45px;
        left: 0;
        right: 0;
        z-index: 3;
    }

    .header-menu-link:before {
        display: none;
    }

    .mobile-menu {
        display: block;
        width: 30px;
        height: 25px;
        position: relative;
        cursor: pointer;
    }

    .mobile-menu,
    .mobile-menu:before,
    .mobile-menu:after {
        border-top: 3px solid #ffffff;
        -webkit-transition: all .3s;
        transition: all .3s;
    }

    .mobile-menu:before,
    .mobile-menu:after {
        position: absolute;
        content: "";
        display: block;
        left: 0;
        right: 0;
    }

    .mobile-menu:before {
        top: 7px;
    }

    .mobile-menu:after {
        top: 17px;
    }

    .mobile-menu.toggled-on {
        border-top-color: transparent;
        margin-top: -10px;
    }

    .mobile-menu.toggled-on:after {
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        top: 12px;
    }

    .mobile-menu.toggled-on:before {
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
        top: 12px;
    }

    .services {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .services-item {
        border-top: 0;
        -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
        flex: 1 1 100%;
        max-width: 100%;
        border-right: 1px dashed #dddddd;
    }

    .services-item:first-child {
        border-top: 1px dashed #dddddd;
    }

    .filter-price-input {
        max-width: 47%;
    }

    .filter {
        min-height: auto;
        padding: 45px 0;
    }

    .offers-item {
        -webkit-box-flex: 1;
        -ms-flex: 1 1 50%;
        flex: 1 1 50%;
        max-width: 50%;
    }

    .offers-filter-btn {
        height: 50px;
        line-height: 45px;
        font-size: 15px;
    }

    .offers {
        padding: 45px 0;
    }

    .benefits-item {
        -webkit-box-flex: 1;
        -ms-flex: 1 1 47.3%;
        flex: 1 1 47.3%;
        max-width: 47.3%;
    }

    .benefits {
        padding: 45px 0;
    }

    .footer-logo {
        display: none;
    }

    .footer-menu-link {
        margin-right: 15px;
        margin-bottom: 5px;
    }

    .footer-menu {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-left: 0;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }

    .footer-top {
        height: auto;
        padding: 15px 0;
    }
}

@media (max-width: 767px) {
    .header-contacts {
        padding: 10px 15px;
    }

    .header-contacts-block {
        height: auto;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: end;
        -ms-flex-align: end;
        align-items: flex-end;
    }

    .header-phone {
        font-size: 18px;
    }

    .header-logo {
        max-width: 130px;
    }

    .header-account-link {
        font-size: 13px;
        padding: 0 10px;
    }

    .header-account-link:last-child {
        padding-right: 0;
    }

    .top-slide {
        height: 320px;
    }

    .top-slide-text-block {
        margin: auto 0 40px;
    }

    .top-slide-title {
        font-size: 16px;
    }

    .top-slide-descr {
        font-size: 14px;
    }

    .filter-form-column {
        -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
        flex: 1 1 100%;
        max-width: 100%;
    }

    .filter-submit-btn {
        height: 45px;
    }

    .filter-extend-link {
        margin-bottom: 20px;
    }

    .section-title {
        font-size: 20px;
        margin-bottom: 30px;
    }

    .offers-filter {
        margin-bottom: 25px;
    }

    .offers-filter-btn {
        height: 40px;
        line-height: 37px;
        font-size: 13px;
    }

    .offers-list {
        margin-bottom: 0;
    }

    .about-title {
        font-size: 20px;
        margin-bottom: 30px;
    }

    .about-text {
        margin-bottom: 30px;
    }

    .about-text br {
        display: none;
    }

    .about {
        min-height: auto;
        padding: 45px 15px;
    }

    .btn-outline {
        height: 45px;
        padding: 0 25px;
    }

    .benefits-item {
        height: 280px;
    }

    .benefits-info {
        height: 80px;
    }

    .benefits-title {
        font-size: 18px;
    }

    .benefits-descr {
        font-size: 13px;
        padding-top: 20px;
    }

    .footer-social-link {
        width: 20px;
        height: 15px;
        background-size: contain;
    }

    .footer-bottom {
        height: auto;
        padding: 10px 0;
    }
    .top-slide__banner {
        padding: 20px 20px 20px 5%;
    }
    .top-slide__banner__title {
        font-size: 24px;
    }
    .top-slide__banner__text {
        font-size: 18px;
    }
    .top-slide__banner_action::after {
        display: none;

    }
}

@media (max-width: 567px) {
    .top-slide {
        background-position: 75% 50% !important;
    }
    .top-slide__banner__text {
        display: none;
    }
    .offers-filter {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-bottom: 0;
    }

    .offers-item {
        -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
        flex: 1 1 100%;
        max-width: 100%;
    }

    .offers-filter-btn {
        margin-bottom: 15px;
    }

    .offers-item {
        padding-bottom: 20px;
    }

    .benefits-item {
        -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
        flex: 1 1 100%;
        max-width: 100%;
    }

    .footer-bottom {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
    }

    .footer-copyright {
        margin-top: 5px;
    }

    .filter-form-column {
        padding: 0;
        margin-bottom: 20px;
    }

    .header-top-menu-link {
        margin-left: 10px;
    }

    .header-top-line {
        height: 35px;
    }

    .header-contacts {
        padding: 10px;
    }

    .header-logo {
        max-width: 115px;
    }

    .header-phone {
        font-size: 16px;
    }

    .container {
        padding: 0 10px;
    }

    .header-contacts {
        padding: 10px;
    }

    .services-item-title {
        font-size: 18px;
        margin-bottom: 20px;
    }

    .services-item-descr {
        font-size: 14px;
    }

    .services-item {
        padding: 15px;
    }

    .services {
        margin: 25px auto;
    }

    .section-title:after {
        display: none;
    }

    .offers,
    .benefits {
        padding: 25px 0;
    }

    .no-pad {
        padding: 0;
    }

    .section-title {
        margin-bottom: 20px;
    }

    .services {
        padding: 0 10px;
    }

    .about-container {
        padding: 0;
    }
}
