.help-form .it-error {
    font-size: 13px;
}

.catalog-item_photo img {
    max-width: 400px !important;
}

.catalog-item_desc {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    margin-bottom: 10px;
}
.assign-view-form{
    padding: 0px !important;
}
.assign-view-form .bhelp{
    max-width: 550px !important;
    min-width: 515px !important;
    padding-bottom: 0px !important;
    margin-bottom: 0px !important;
}
.assign-view-form .form-row{
    display: inline-block !important;
    width: 100%;
    text-align: center;
}
.bhelp h1{
    margin-bottom: 25px;
}
@media (max-width: 767px) {
    .nav-dots {
        width: 20px !important;
    }
    .help-form .it-block{
        width: 100%;
    }
    .assign-view-form .bhelp{
        min-width: 270px !important;
    }
}