.feedback-form, .feedback-input, .feedback-checkbox {
    width: fit-content;
    margin: auto;
}

.feedback-input {
    float: left;
}

.feedback-checkbox {
    position: absolute;
    bottom: -40px;
}

.feedback-input .it-error {
    width: 250px;
}

.vacancy_reply_block {
    background-color: #205179;
    background-size: cover;
    text-align: center;
    padding: 20px;
}

.vacancy_reply_form_input {
    display: inline-block;
    height: 43px;
    line-height: 43px;
    border: 1px solid #ffffff;
    margin: 0 auto 15px;
    background-color: transparent;
    width: 100%;
    max-width: 350px;
}

.vacancy_reply_form .checkbox {
    max-width: 600px;
    margin: 0 auto;
}

@media (max-width: 992px) {
    .feedback-input {
        float: none;
    }

    .feedback-checkbox {
        position: relative;
        bottom: 0;
    }
}

.element-detail-link {
    display: block;
}

.request__form__button {
    margin: 70px 14px 20px 0;
}

@media (max-width: 1199px) {
    .request__form__button {
        margin: auto;
    }
}

.js-extend-filter-block {
    display: none;
}

a.add-apartment__button {
    display: inline-block;
    background-color: #07ba00;
    color: #ffffff;
    text-decoration: none;
    padding-top: 16px;
    cursor: pointer;
}

a.add-apartment__button:hover {
    background-color: #0b9605;
}

.realtors__carousel {
    display: flex;
    margin-bottom: 10px;
}

.realtors__carousel__item {
    text-align: center;
    width: 20%;
    float: left;
}

.realtors .spoiler {
    display: none;
}

.fancybox-feedback {
    background-color: unset;
}

.fancybox-feedback .call-order-input::-webkit-input-placeholder {
    color: #000000;
    font-size: 16px;
    font-weight: 300;
}

.fancybox-feedback .call-order-input {
    background-color: white;
}

.fancybox-feedback .call-order-title {
    color: #000000;
}

.fancybox-feedback .top-slider-form {
    display: inline-block;
    margin: auto;
    vertical-align: middle;
    background-color: #f3f3f3;
    color: black;
    position: unset;
}

.connect-consultant__form.connect-consultant__form_inline .it-block:not(.checkbox) {
    display: inline-block;
}

.rent-feature__content__title {
    text-transform: uppercase;
}

@media (max-width: 480px) {
    .realtors__carousel {
        display: inline-block;
    }

    .realtors__carousel__item {
        width: auto;
    }

}