.place_bid {

    @media (min-width: 300px) {
        &__form {
            &__input, &__button {
                width: 96%;
            }
        }
    }

    @media (min-width: 992px) {
        &__form {
            &__input, &__button {
                width: 30%;
            }
        }
    }

    padding: 60px 0; 
    background-color: #002b4e;
    text-align: center;
    color: #fff;
    &__title {
        margin: 0;
        font-size: 36px;
        font-weight: 600;
        line-height: 40px;
        @media(max-width: 992px) {
            margin: 0 0 40px 0;
            font-size: 30px;
        }
        span {
            display: block;
            font-size: 18px;
            font-weight: 300;
            line-height: 24px;
        }
    }
    &__form {
        &_inline {
            display: inline-block;
            vertical-align: middle;
            text-align: center;
            @media(max-width: 1199px) {
                display: block;
                margin-top: 20px;
            }
        }
        &__input {
            height: 55px;
            margin: 4px 0;
            padding: 20px;
            color: #333333;
            font-family: 'ProximaNova';
            font-size: 14px;
            font-weight: 300;
            outline: none;
            border: none;
        }
        &__button {
            height: 56px;
            margin: 4px 0;
            background-color: #07ba00;
            border: none;
            font-family: 'ProximaNova';
            font-size: 16px;
            font-weight: 300;
            outline: none;
            color: #fff;
            &:hover {
                background-color: #0b9605;
            }
        }
    }
}
