.add-apartment {
    padding: 60px 0;
    background: url('../../img/bg/add-apartment.png') no-repeat center;
    background-size: cover;
    text-align: center;
    color: #fff;
    &__title {
        margin: 0 0 10px 0;
        font-size: 36px;
        font-weight: 600;
        line-height: 40px;
        @media(max-width: 590px) {
            font-size: 30px;
        }
    }
    span {
        display: block;
        margin-bottom: 30px;
        font-size: 18px;
        font-weight: 300;
        line-height: 24px;
    }

    &__button {
        width: 219px;
        height: 55px;
        background-color: #07ba00;
        border: none;
        font-family: 'ProximaNova';
        font-size: 16px;
        font-weight: 300;
        outline: none;
        color: #fff;
        &:hover {
            background-color: #0b9605;
        }
        
    }
}
